@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300,700'); 

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('montserrathairline.woff2') format('woff2'), url('montserrathairline.woff') format('woff'), url('montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'), url('montserratlight.woff2') format('woff2'), url('montserratlight.woff') format('woff'), url('montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('montserrat.woff2') format('woff2'), url('montserrat.woff') format('woff'), url('montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('montserratbold.woff2') format('woff2'), url('montserratbold.woff') format('woff'), url('montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'), url('montserratblack.woff2') format('woff2'), url('montserratblack.woff') format('woff'), url('montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



@font-face {
	font-family: 'Kaushan Script';
	src: url('KaushanScript-Regular.eot');
	src: local('Kaushan Script'), local('KaushanScript-Regular'),
		url('KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
		url('KaushanScript-Regular.woff') format('woff'),
		url('KaushanScript-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kaushan-script-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kaushan-script-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kaushan-script-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kaushan-script-v6-latin-regular.svg#KaushanScript') format('svg'); /* Legacy iOS */
  }
  
  

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


header{
    padding: 30px 0 29px;
    
}

.wrapper{
    
    width: 1170px;
    padding: 60px;
    margin: 0 auto;
     
}
.mainmenu ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #95e1d3;
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
}

.mainmenu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 450px;
}

.wrapper {
    width: 1170px;
    padding: 60px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.mainmenu a::before {
    content: '';
    width: 100%;
    height: 3px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: .2s linear;
}    

.mainmenu ul li a{ 
    color: #95e1d3;
    text-decoration: none;
    position: relative; 
} 

.mainmenu a:hover::before {
    opacity: 1;
    transform: translateY(10px);
}

.mainmenu ul li a:hover{ 
    color:  #f38181;
} 


.logo{
    font-family: 'Montserrat', arial;
    
    color:  #95e1d3;
    font-size:  30px;/* Приближение из-за подстановки шрифтов */
    font-weight:  700;
    line-height:  32px;
    text-align:  left;
    
}

.topic{
    display: block;
    text-align:  center;
    margin-top:180px;
}

.work{
    font-family:  'Kaushan Script';
    color:  #333333;
    font-size:  24px;
    font-weight:  normal;
    text-align:  center;
    position: relative;
   
}

h2{
    
    font-family:  'Montserrat', arial;
    color:  #333333;
    font-size:  30px;
    font-weight: 700;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    position: relative;
}

h2::after {
    content: url("../img/line.png");
    position: absolute;
    top: 50px;
    right: 635px;
} 

.clearfix::after {
    content: '';
    display: block;
    clear: both;
} 

.news_item{
    width: 330px;
    height: 200px;
    padding-left: 60px;
    text-align: left ;
    position: relative;
}

.lf{
    position: absolute;
    top: 60px;
    
    left: 0;
}

.wrapper2{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 1140px;
    margin: 0 auto;
   justify-content: space-between; 
}

 

.big{
    width:  370px;
    height:  470px;

}
.news_item2{
    width: 380px;
    height: 500px;
    text-align: center ;
}

.wrapper3{
    display: flex;
   flex-direction: row;
   width: 100%;
   padding: 100px;
   justify-content: space-between; 
}

.work2{
    padding-top: 80px;
    width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
}

.flex1{
    display: flex;
}

.news_item2{
    text-align: center;
    padding-bottom: 94px;
    position: relative;
}

.flex2::before{
    position: absolute;
    content: '';
    background-color: #95c1d3; 
    width: 370px;
    height: 470px;
    z-index: -1;
    left: 0;
    top: 0;
}

.flex2 .flex3::before{
    position: absolute;
    content: '';
    background: -webkit-linear-gradient(90deg, #fce38a 0%, #f38181 100%);
    width: 370px;
    height: 470px;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s linear;
}

.flex2 .flex3 .big{
    width: 370px;
    height: 470px;
    transition: transform 0.2s linear;
}

.news_item2:hover .flex3::before{
    opacity: 0.9;
    transform: translate(-10px,-10px);
}

.flex2:hover .big{
    transform: translate(-10px,-10px);
}


.rct{
    border-width: 1px;
    border-color: rgb(87, 152, 168);
    border-style: solid;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: goldenrod      
}

.rct:hover{
    background: darkturquoise
}

.rct3{
    display: flex;
    flex-direction: row;
    width: 370px;
    align-items: center;
    justify-content: center; 
    height: 100%;
}




.hov {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 470px;
    transition: .3s linear;
}

.news_item2:hover .hov {
    opacity: 1;
    transform: translate(-10px, -10px);
}


.hov {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: .3s linear;
}

.category2{ 
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 300; 
    text-transform: lowercase; 
    color: #666665; 
}

.category{ 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    text-transform: lowercase; 
    color: #0c0c04;  
}

.category {
    
    position: relative;
    padding-top: 60px;
}


    
    
.footer{
    display: flex;
    
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 110px;
    padding-right: 110px;
    height: 60px;
    width: 100%;
    color: rgb(12, 12, 12);
    background-color: #f6fafa; 
    line-height: 50px;
}

.words {
    color:  rgb(231, 95, 117); 
}

.button{
    width: 150px;
    height: 35px;
    border-radius:5px;
    color: white;
    background-color: #31cdd8;
    
   
} 