@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 150px;
}

.wrapper{
    
    width: 1170px;
    
    margin: 0 auto;
     
}

.mainmenu{
    float: right;
}

.mainmenu ul{
    width: 530px;
    text-align: justify;
}



.mainmenu ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-family:  OpenSans;
    color:  #0f0101;
    font-size:  14px;/* Приближение из-за подстановки шрифтов */
    font-weight:  700;
    line-height:  11px;/* Приближение из-за подстановки шрифтов */
    text-align:  right;
    margin-right: 30px;
}

.mainmenu ul li a{ 
    color: #7d7d7d; 
    text-decoration: none; 
} 


.mainmenu ul li a:hover{ 
    color:  #1abc9c;
} 


.logo{
    float: left;
    font-family:  Roboto;
    color:  #555252;
    font-size:  30px;/* Приближение из-за подстановки шрифтов */
    font-weight:  300;
    line-height:  32px;/* Приближение из-за подстановки шрифтов */
    text-align:  left;
    text-transform: uppercase;
}

.logo::first-letter{
    font-family:  Roboto;
    color:  #1abc9c;
    font-size:  30px;/* Приближение из-за подстановки шрифтов */
    font-weight:  900;

}

.slider{
    min-height:599px;
    background: url('../img/slide4.png'); /*фон*/
    background-size: cover;
    text-align: center;
    position: relative;
}

.slider::before{
    content: "";
    position: absolute;
    z-index: 1;
    background-color: #000000;
    opacity: 0.52;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.lt{
    background-color:  rgba(78, 198, 171, 0.65);
    width:  104px;
    height:  104px;
    border: 0;
    position: absolute;
    left: 120px;
    top: 240px;
}

.rt{
    background-color:  rgba(78, 198, 171, 0.65);
    width:  104px;
    height:  104px;
    border: 0;
    position: absolute;
    right: 120px;
    top: 240px;
}

.slider-block h1{
    font-family: Roboto Black;
    color:  #ffffff;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 82px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 0 auto;
   
    display: inline-block;
    margin-top:205px;
}

.slider-block{
    position: relative;
    
}

.tips{
    font-family: Roboto Black;
    color:  #ffffff;
    font-size: 24px;
}

.slider h2{
    /* Встроенный стиль */
    font-family: Roboto;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 54px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    width: 730px;
    margin: 0 auto;
    display: inline-block;
}
.wrapper{
    width:1170px;
    margin: 0 auto;
    text-align: center;
}
.sales h2{
    margin-top:180px;
    
    font-family: Roboto;
    color:  #515151;
    font-size: 48px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    position: relative;
}

h2::after {
    content: url("../img/line.png");
    position: absolute;
    top: 30px;
    right: 500px;
}



.clearfix::after {
    content: '';
    display: block;
    clear: both;
}    

.underimg {
    display: block;

}
.name {
  float: left;
  line-height: 30px;
  padding-left: 50px;
  width: 201px;
  line-height: 40px;
}
.price {
  float: right;
  text-align: center;
  width: 54px;
  color: white;
  background-color: #6e7272;
  line-height: 40px;
}



.shop_item {
    vertical-align: top;
    width: 255px;
    float: left;
    margin-top: 30px;
}

.shop_item:not(:nth-of-type(4n+4)) {
    margin-right: 26px;
} 

div name price {
    display: inline-block;
}

.container {
    max-width: 1112px;
    width: 100%;
    margin: 0 auto;
}

.name{
    margin-top: -4px;
    height: 40px;
    width: 201px;
    color: white;
    background-color: #292c2c 
}

.price{
    margin-top: -4px;
    height: 40px;
    width: 54px;
    color: white;
    background-color: #6e7272 
}



.d :hover{
    cursor: pointer;
}  

.d :hover .name {
    background-color: rgb(65, 209, 235)
    
}

.d :hover .price {
    background-color: rgb(195, 199, 199)

}
.shop_item:hover .name{
    background-color:rgb(26, 188, 156)
}
.shop_item:hover .price{
    background-color: rgb(35, 216, 180); 
}

.footer{
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    height: 60px;
    width: 100%;
    color: white;
    background-color: #292c2c; 
    line-height: 50px;
}

.words {
    color:  rgb(70, 191, 169); 
}



